# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# Build
build/
dist/

# Cache
.pytest_cache/
.mypy_cache/

# Sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.bak
